header {
    color:purple;
   text-align: center;
   background: mediumpurple;
   padding-top: 40px;
   padding-bottom: 40px;
}


form {

    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background-color: bisque;

} 

.container {
    padding-top: 100px;
    
    padding-top: 50px;
    padding-bottom: 50px;

    box-sizing: border-box;
    border: 5px solid purple;
    background-color: bisque;
}

footer {
    background: mediumpurple;
   height:30px;
   padding-top: 50px;
   margin-top:100px;
}

